.locations_data a:hover {
    color: #9fcc3a !important;
    cursor: pointer;
    font-weight: bold;
}

.sticky-top {
    margin-left: 280px;
    width: auto;
}

.xdesign-sidebar {
    margin-left: 120px;
}

.top-header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 8px #3d3d3d;
}

.logo {
    margin: 5px 0;
    text-align: center;
}

.logo a {
    display: block;
}

.logo img {
    height: 51px;
}

.login {
    float: right;
    margin: 0 auto;
    top: 11px;
    position: relative;
}

.login-btn {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color: #9fcc3a;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.dark-color {
    background: #2a2c30;
    border-radius: 0;
}

.exp-close {
    margin: -35px -35px -10px auto !important;
    padding: 0!important;
    opacity: 1;
}

.exp-close2 {
    margin: -32px -18px -10px auto !important;
    padding: 0!important;
    opacity: 1;
}

.circle-div .estimate {
    position: relative;
    top: 25%;
    font-size: 28px;
    font-weight: bold;
    color: #297FD5;
}
.circle-div .circle text {
    position: relative;
    top: 50px;
    text-anchor: middle;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}





.btn-secondary2 {
    width: 160px;
    height: 40px;
    border-radius: 2px;
    background-color: #9fcc3a;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.btn-secondary2:hover {
    background-color: #5d991f !important;
}

.show>.btn-secondary2.dropdown-toggle {
    color: #fff;
    background-color: #5d991f;
    box-shadow: none;
    border: 0;
}

a.dropdown-item {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font-size: 15px;
    color: #646464
}

a.dropdown-item:hover {
    color: #DF3131;
    padding-left: 30px !important
}

.show>.dropdown-menu {
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    border: 1px solid rgba(159, 204, 58, 1.15);
    border-radius: 0;
}

.show>a.dropdown-item:hover {
    color: #fff;
    background-color: #9fcc3a;
}

.dropdown-item {
    height: 40px;
    padding: 9px 18px;
}

#finish-modulesz {
    color: #fff !important;
}

.reset_btns {
    margin-left: 300px;
    margin-top: 22px;
}

.reset_btns button {
    border-radius: 2px;
    background-color: #4da3ff;
    padding: 11px 20px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.reset_btns button:hover {
    background-color: #2b7dd5
}

.community-header-close-button img {
    width: 24px;
}


.mgc-form-field .mgc-form-label,.mgc-form-field label{display:block;padding-bottom:3px}
.mgc-form-field .mgc-form-field_checkbox label,.mgc-form-group li>label{padding-bottom:0}
.mgc-form-field .mgc-form-label label{display:inline-block;padding:0;margin-right:6px}

.mgc-input-overlay_left,.mgc-input-overlay_right{position:relative}
.mgc-input-overlay_left .mgc-input-overlay-text_left,.mgc-input-overlay_left .mgc-input-overlay-text_right,.mgc-input-overlay_right .mgc-input-overlay-text_left,.mgc-input-overlay_right .mgc-input-overlay-text_right{position:absolute;top:4px;color:#A7A6AB;speak:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.mgc-input-overlay_left input{padding-left:22px; height: 30px; border-radius: 0;}
.mgc-input-overlay_right input{padding-right:22px; height: 30px; border-radius: 0;}

.mgc-input-overlay_left select{padding-left:22px; height: 30px;}
.mgc-input-overlay_right select{padding-right:22px; height: 30px;}

.mgc-form-field_error select{background-position:right -68px}

.mgc-input-overlay_left .mgc-input-overlay-text_left,.mgc-input-overlay_right .mgc-input-overlay-text_left{left:9px}
.mgc-input-overlay_left .mgc-input-overlay-text_right,.mgc-input-overlay_right .mgc-input-overlay-text_right{right:9px}

.mortgage-calculator {
    margin: 0;
    padding: 0
}


/* .mortgage-calculator .modal-body{padding:30px 15px} */
.mortgage-calculator .modal-dialog {
    max-width:660px;
    display:flex;
    
}
.googleMaps .modal-dialog {
    max-width: 900px;
    display: flex;
}


.mortgage-calculator .modal-dialog-centered {
    min-height: calc(100% - (2rem * 2));
   
    align-items: center
}

.mortgage-calculator .modal-content {
    border-radius: 0;
    border: none
}

.mortgage-calculator .modal-header {
    background-color: #2a2c30;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    border: none
}

.mortgage-calculator .modal-title {
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 18px
}

.mobile-information .modal-header {
    background-color: #2a2c30;
    margin: 0;
    padding: 0px;
    border-radius: 0;
    border: none
}

.mortgage-calculator button.close {
    text-align: right;
    margin-right: -33px;
    margin-top: -52px;
    cursor: pointer;
    outline: none
}





.mortgage-calculator .close {
    position: absolute;
    right: 0;
    opacity: 9;
    z-index: 999
}

.mortgage-calculator .mortgage-calculator-form-box {
    margin: 0;
    padding: 0 15px
}

.mortgage-calculator .mortgage-calculator-form-box .form-group {
    margin-bottom: 10px;
    position: relative
}

.mortgage-calculator .mortgage-calculator-form-box .form-group select {
    border-radius: 0;
    padding: 2px;
    height: 30px
}

.mortgage-calculator .mortgage-calculator-right-box hr {
    margin: 16px 0;
    border-color: #cacaca;
}

.mortgage-calculator .mortgage-calculator-right-box .mortgage-contain .price-text {
    margin: 8px 0;
    padding: 0;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    text-align: right;
}


.other-details .wellington_detail ul li a img {
    height: 32px;
}

.other-details .wellington_detail ul li a span {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
}

.lot-details-section .close {
    text-align: right;
    margin-right: -34px;
    margin-top: -54px;
    cursor: pointer;
    outline: none;
}

.lot-details-section .modal-dialog {
    max-width: 700px;
}

.mortgage-calculator-mobile .modal-dialog-centered {
    min-height: calc(100% - (2rem * 2));
    display: flex;
    align-items: center;
}

.mortgage-calculator-mobile .modal-dialog {
    max-width: 520px;
}

.mortgage-calculator-mobile .modal-content {
    border-radius: 0;
    border: none;
    margin: 0 auto;
    width: 560px;
}

.mortgage-calculator-mobile .modal-header {
    background-color: #2a2c30;
    margin: 0;
    padding: 12px 15px;
    border-radius: 0;
    border: none;
}

.mortgage-calculator-mobile .modal-title {
    margin: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 18px;
}

.mortgage-calculator-mobile button.close {
    text-align: right;
    margin-right: -28px;
    margin-top: -43px;
    cursor: pointer;
    outline: none;
}

.mortgage-calculator-mobile .close {
    position: absolute;
    right: 0;
    opacity: 9;
    z-index: 999;
}

.mortgage-calculator-mobile button.close img {
    width: 30px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box {
    margin-right: -30px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box {
    margin: 0 -12px;
    padding: 0 12px;
    height: 225px;
    overflow-y: auto;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .mCSB_inside>.mCSB_container {
    margin-right: 30px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group {
    margin-bottom: 10px;
    position: relative;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group label {
    display: inline-block;
    margin-bottom: .4rem;
    width: 100%;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group input {
    font-size: 13px;
    border-radius: 0;
    border: solid 1px #cacaca;
    padding: 4px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .down-payment {
    width: 78%;
    display: inline-block;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .down-payment input {
    border-radius: 0;
    border: solid 1px #cacaca;
    padding: 4px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .downPercent {
    width: 22%;
    margin-left: -5px;
    display: inline-block;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .input-overlay-text_right {
    position: absolute;
    top: 32px;
    right: 9px;
    text-align: right;
    color: #aaa;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group select {
    height: 30px;
    font-size: 13px;
    padding: 4px;
    border-radius: 0;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group span {
    margin-left: 25px;
    font-size: 14px;
    color: #7cc035;
    font-weight: 500;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .input-overlay-text_right {
    position: absolute;
    top: 32px;
    right: 9px;
    text-align: right;
    color: #aaa;
}

.mortgage-calculator-mobile .switch-box {
    width: 100%;
    margin: 0 0 10px 0;
    display: inline-block;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .switch-box {
    margin: 0;
}

.mortgage-calculator-mobile .switch-round-box {
    width: 46px;
    float: left;
    margin-right: 5px;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .switch-box .switch-round-box span {
    margin-left: 0;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .switch-box i {
    color: #989898;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .year {
    position: absolute;
    right: 24%;
    top: 32px;
    color: #aaa;
}

.mortgage-calculator-mobile .mortgage-calculator-form-box .form-group .downPercent input {
    border-radius: 0;
    border: solid 1px #cacaca;
    padding: 4px;
}

.mortgage-calculator-mobile .mortgage-calculator-right-box .right-box-border {
    height: 100%;
    position: absolute;
    left: 0px;
    border-left: solid 1px #cacaca;
}

.mortgage-calculator-mobile .mortgage-calculator-right-box .insurance-chart {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mortgage-calculator-mobile .mortgage-calculator-right-box .mortgage-contain {
    margin: 0;
    padding: 0;
}

.mortgage-calculator-mobile .mortgage-calculator-right-box .mortgage-contain h2 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

.mortgage-calculator-mobile .mortgage-calculator-right-box .mortgage-contain .price-text {
    margin: 4px 0;
    padding: 0;
    font-size: 18px;
    color: #7cc035;
    font-weight: 600;
}




.mortgage-calculator-mobile .mortgage-calculator-right-box .mortgage-contain .base-price span {
    margin: 0 15px 0 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-align: right;
    position: absolute;
    right: 15px;
}


.mortgage-calculator .mortgage-calculator-form-box .form-group label {
    display: inline-block;
    margin-bottom: 3px;
    width: 100%;
    font-size: 14px;
}
.mortgage-calculator .mortgage-calculator-right-box .mortgage-contain .base-price2 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #707070;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    text-transform: capitalize;
}

.mortgage-calculator .mortgage-calculator-right-box .mortgage-contain .base-price {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #707070;
    font-weight: 400;
    line-height: 22px;
    width: 80%;
    text-transform: capitalize;
}
.mortgage-calculator .mortgage-calculator-right-box .mortgage-contain .base-price2 b { display: block; background: #888; color: #fff; font-weight: 600; font-size: 13px; padding: 0px 5px; margin-top: 5px;}

.mortgage-calculator .mortgage-calculator-right-box .mortgage-contain .base-price span {
    margin: 0 15px 0 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: right;
    position: absolute;
    right: 15px;
}





.mortgage-calculator-mobile .mortgage-calculator-right-box .mortgage-contain .space {
    margin: 0;
    display: inline-block;
}

.login-section {
    margin: 0;
    padding: 0;
}

.login-section .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (2rem * 2));
}

.login-section .modal-dialog {
    max-width: 563px;
}

.login-section .modal-content {
    width: 563px;
    border-radius: 0;
    border: none;
}

.login-section .social-btn {
    margin-right: 0;
    margin-bottom: 26px;
    padding: 0;
    width: 47.5%;
    float: left;
}

.login-section .social-btn .facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.login-section .social-btn .google {
    color: #fff;
    background-color: #d05840;
    border-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.login-section .social-btn-margin-none {
    margin-left: 0px;
    float: right;
}

.login-section button.close {
    text-align: right;
    margin-right: -20px;
    margin-top: -20px;
    cursor: pointer;
    outline: none;
}

.login-section .tab-box .input-group-addon {
    padding: 15px 0 15px 15px;
    margin: 0;
    background-color: #fff;
    border-radius: 0;
}

.login-section .tab-box .form-control {
    border-radius: 0;
    border-left: 0;
    font-size: 15px;
    color: #666;
}

.login-section .tab-box .login-button {
    height: 40px;
    border-radius: 2px;
    background-color: #9fcc3a;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}



.footer-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 999;
}

.footer {
    width: calc(100% - 280px);
    margin: 0 0 0 280px;
    padding: 0;
    border-top: solid 1px #cacaca;
    background: url(../../images/bottom-strap.jpg);
    position: fixed;
    bottom: 38px;
}

.xdesign-footer {
    width: calc(100% - 120px);
    margin: 0;
    left: 120px;
}

.footer .avery-leftbox {
    margin: 0;
    padding: 0;
}

.footer .avery-leftbox .avery-leftbox-main {
    height: 70px;
    margin: 0;
    padding: 6px 20px 0 0;
    border-right: solid 1px #cacaca;
    float: left;
}

.footer .avery-leftbox .avery-leftbox-main .avery-img-contain {
    margin-top: 7px;
}

.footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes {
    margin: 0 15px 0 0;
    padding: 0;
    float: left;
}

.footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes img {
    height: 45px;
}

.footer .avery-leftbox .avery-contain {
    margin: 0;
    padding: 0;
    float: left;
}

.footer .avery-leftbox .avery-contain h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
}

.footer .avery-leftbox .avery-contain .icon-box {
    float: left;
    margin: 0 15px;
    padding: 0;
    text-align: center;
}

.footer .avery-leftbox .avery-contain .icon-box img {
    width: 40px;
}

.footer .avery-leftbox .avery-contain .icon-box p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.footer .avery-leftbox .avery-leftbox-main:last-child {
    border-right: 0;
}


.footer .avery-leftbox .avery-contain .icon-box h2 {
    margin-top: 5px;
    padding: 0;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.footer .avery-leftbox .avery-contain h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
}

.footer .avery-leftbox .avery-contain .mortgage {
    margin-top: 19px;
    padding: 0;
    float: left;
}

.footer .avery-leftbox .avery-contain .mortgage a {
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 12px;
    color: #fff;
    background: #9fcc3a;
    font-weight: 600;
    margin-left: 5px;
    box-shadow: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    transition: .5s ease-in-out;
}

.footer .avery-leftbox .avery-contain .mortgage a:hover {
    background-color: #5d991f;
}

.footer .floor-plan {
    float: right;
    margin-top: 16px;
}

.footer .floor-plan .floor-plan-btn {
    margin: 0 0 0 5px;
    float: left;
}

.footer .floor-plan .floor-plan-btn a {
    width: 100%;
    position: relative;
    border-radius: 2px;
    background-color: #9fcc3a;
    padding: 11px 20px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.footer .floor-plan .floor-plan-btn a:hover {
    background-color: #5d991f;
}

.footer .floor-plan .floor-plan-btn i {
    font-size: 10px;
    color: #fff;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    line-height: 8px;
    color: #fff;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.footer .floor-plan .floor-plan-btn a.back_btn {
    background-color: #2fbbba;
}

.footer .floor-plan .floor-plan-btn a.back_btn:hover {
    background-color: #229f9e;
}

.footer .floor-plan .floor-plan-btn a.finish_btn {
    background-color: #ad2a3d;
}

.footer .floor-plan .floor-plan-btn a.finish_btn:hover {
    background-color: #9b2536;
}

.back_btn i {
    left: 10px;
}





.mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a {
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 12px;
    color: #fff;
    background: #9fcc3a;
    font-weight: 600;
    margin-left: 5px;
    box-shadow: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    transition: .5s ease-in-out;
}

.mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a:hover {
    background-color: #5d991f;
}


.super-footer {
    background-color: #313131;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    border-top: solid 1px #313131;
}

.super-footer p {
    color: #fff;
    margin: 10px 0;
    font-size: 12px;
}

.super-footer p a {
    color: #9fcc3a;
}

.main-section a,
.main-section button.home_list {
    position: relative;
    border-radius: 2px;
    padding: 11px 20px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease-in-out;
}

.mobile-information .modal-title {
    padding: 15px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 18px;
}

.mobile-information .modal-content {
    border-radius: 0;
    border: none;
    margin: 0 auto;
    width: 370px;
}

.mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box h2 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.mobile-information button.close {
    text-align: right;
    margin-right: -25px;
    margin-top: -30px;
    cursor: pointer;
    outline: none;
}

.mobile-information .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (0.7rem * 2));
    width: 90%;
    margin: 30px auto;
}

.login-section .modal-content .modal-body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}


/* .googleMaps{margin:0}
.googleMaps .modal-dialog{max-width:900px}
.googleMaps .modal-content{width:900px}
.googleMaps .modal-content .modal-body{padding:0}
.googleMaps .googleMaps-left-main-box{margin:15px -30px 0 15px;padding:0}
.googleMaps .googleMaps-left-title-box{margin:0;padding:10px;background-color:#292929;font-size:16px;color:#fff;font-weight:600;text-align:center}
.googleMaps .googleMaps-left-main-box .left-panel-list{margin:0;padding-top:15px;background-color:#eee;display:inline-block;width:100%;height:382px;overflow:auto}
.googleMaps .googleMaps-left-main-box .left-panel-list ul{margin:0;padding:0;list-style:none}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li{margin:0 0 20px;padding:0;font-size:16px;color:#fff;font-weight:500;text-align:center}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li p{width:100%;display:inline-block;margin:0;padding:0;text-align:center}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li p .fa{top:20px;width:40px;height:40px;border-radius:60px;background-color:#3a3b3d;margin:0;padding-top:8px;font-size:24px;color:#fff;text-align:center}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li span{margin:0;padding:0;font-size:16px;color:#333;font-weight:400}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li sub-title{box-shadow:0 4px 5px #aaa;width:auto;display:block;margin:-15px 10px 10px;padding:15px 10px 10px;background-color:#fff;font-size:13px;color:#333;font-weight:400; }
.googleMaps .googleMaps-left-main-box .nearby-km-bg{background-color:#e5e5e5;padding:10px}
.googleMaps .googleMaps-left-main-box .nearby-km-bg .irs-min,.googleMaps .googleMaps-left-main-box .nearby-km-bg .irs-max{color:#666}
.googleMaps iframe{width:100%;padding:15px} */

/* .googleMaps .googleMaps-left-main-box .left-panel-list ul li {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li .fa {
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background-color: #3a3b3d;
    margin: 0;
    padding-top: 8px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li .sub-title {
    box-shadow: 0 4px 5px #aaa;
    width: auto;
    display: block;
    margin: -15px 10px 10px;
    padding: 15px 10px 10px;
    background-color: #fff;
    font-size: 13px;
    color: #333;
    font-weight: 400;
}
.googleMaps .googleMaps-left-main-box .left-panel-list ul li p {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
} */

.googleMaps-left-main-box>a:hover {
    color: #9fcc3a;
    cursor: pointer;
}









/* ------ Responsive ------ */


@media (max-width: 1559px) {

    .footer .avery-leftbox .avery-contain .icon-box {
        float: left;
        margin: 0 6px;
        padding: 0;
        text-align: center;
    }

    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 33%;
        margin-top: 2px;
    }

    .footer .avery-leftbox .avery-leftbox-main {
        height: 70px;
        margin: 0;
        padding: 5px 10px 0 0;
        border-right: solid 1px #cacaca;
        float: left;
    }

    .footer .avery-leftbox .avery-contain .icon-box img {
        width: 36px;
    }

    .footer .avery-leftbox .avery-contain .icon-box p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #333333;
        font-weight: 400;
    }

    .footer .floor-plan .floor-plan-btn a {
        padding: 10px 9px;
        font-size: 14px;
    }

    .footer .floor-plan .floor-plan-btn i {
        right: 3px;
    }

    .back_btn i {
        left: 3px;
    }

    .login-btn {
        height: 38px;
        font-size: 14px;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        font-size: 14px;
    }

    .main-section a,
    .main-section button.home_list {
        padding: 10px 20px;
        font-size: 14px;
    }

    .btn-secondary2 {
        width: 160px;
        height: 38px;
        font-size: 14px;
        margin-top: 1px;
    }

    .dropdown-item {
        height: 38px;
        padding: 9px 18px;
    }

    a.dropdown-item {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        font-size: 14px;
        color: #646464;
    }
}

@media (max-width: 1366px) {
    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 46%;
        margin-top: 2px;
    }

    .footer .avery-leftbox .avery-leftbox-main {
        padding: 0 12px 0 0;
        margin-top: 10px;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes {
        margin: 0 10px 0 0;
    }

    .footer .avery-leftbox .avery-contain h2 {
        font-size: 15px;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes img {
        height: 40px;
    }

    .footer .avery-leftbox .avery-contain .icon-box h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .footer .avery-leftbox .avery-contain .mortgage {
        margin-top: 14px;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        padding: 11px 11px;
        font-size: 11px;
    }

    .footer .avery-leftbox .avery-contain .icon-box {
        float: left;
        margin: 0 5px;
        padding: 0;
        text-align: center;
    }

    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 32%;
        margin-top: 6px;
    }

    .footer .avery-leftbox .avery-contain .icon-box img {
        width: 32px;
    }

    .footer .avery-leftbox .avery-contain .icon-box p {
        margin: 0;
        padding: 0;
        font-size: 9px;
        color: #333333;
        font-weight: 400;
    }

    .footer .floor-plan .floor-plan-btn a {
        padding: 10px 8px;
        font-size: 11px;
    }

    .login-btn {
        height: 38px;
        font-size: 12px
    }

    .footer .floor-plan .floor-plan-btn i {
        font-size: 9px;
        top: 15px;
        right: 1px;
    }

    .back_btn i {
        left: 1px;
    }

    .main-section a,
    .main-section button.home_list {
        font-size: 12px;
    }

    .btn-secondary2 {
        width: 160px;
        height: 38px;
        font-size: 12px;
        margin-top: 1px;
    }

    .dropdown-item {
        height: 38px;
        padding: 9px 18px;
    }

    a.dropdown-item {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        font-size: 12px;
        color: #646464;
    }
    .mortgage-calculator .modal-dialog {
        max-width: 676px;
    }
    .googleMaps .modal-dialog {
        max-width: 900px;
        
    }
    

}

@media (max-width: 1200px) {
    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 46%;
        margin-top: 2px;
    }

    .footer .avery-leftbox .avery-leftbox-main {
        padding: 0 12px 0 0;
        margin-top: 3px;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes {
        margin: 0 10px 0 0;
    }

    .footer .avery-leftbox .avery-contain h2 {
        font-size: 15px;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes img {
        height: 40px;
    }

    .footer .avery-leftbox .avery-contain .icon-box h2 {
        font-size: 22px;
        margin-top: 0;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        padding: 10px 13px;
    }

    .footer .floor-plan .floor-plan-btn a {
        padding: 9px 10px;
    }

    .footer .floor-plan {
        /*  float: none; */
        margin-top: 12px;
    }

    .footer .floor-plan .floor-plan-btn i {
        top: 14px;
    }

    .footer .avery-leftbox .avery-contain .mortgage {
        margin-top: 17px;
    }

    .login-btn {
        height: 36px;
        font-size: 12px;
    }

    .login {
        top: 13px;
    }

    .login .dropdown {
        top: 5px;
    }

    .btn-secondary2 {
        height: 36px;
        font-size: 12px;
        margin-top: -5px;
    }

    .main-section a,
    .main-section button.home_list {
        padding: 9px 20px;
        font-size: 12px;
    }

    .btn-secondary2 {
        height: 36px;
        font-size: 12px;
        margin-top: -5px;
    }

    .dropdown-item {
        height: 36px;
        padding: 9px 18px;
    }

    a.dropdown-item {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        font-size: 12px;
        color: #646464;
    }
    .mortgage-calculator .modal-dialog {
        max-width: 676px;
    }
    .googleMaps .modal-dialog {
        max-width: 900px;
        
    }

}


@media (max-width: 991px) {
    .logo {
        margin: 0;
    }

    .top-header {
        padding: 0px 0;
    }

    .sticky-top {
        margin-left: 0px;
    }

    .logo img {
        height: 47px;
        padding: 3px 0px;
        float: left;
    }

    .login {
        margin: 0;
        top: 11px;
    }

    .login-btn {
        width: 89px;
        height: 36px;
        padding: 9px;
        font-size: 12px;
        margin-top: -5px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 9px 20px;
        font-size: 12px;
    }

    .footer-wrapper {
        width: 100%;
        display: flex;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: unset;
        top: 39px;
        margin: 0;
        padding: 0 0;
        border-top: solid 1px #cacaca;
        background-color: #fff;
    }

    .footer .avery-leftbox {
        display: none;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes {
        margin: 0 10px 0 0;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes img {
        height: 40px;
    }

    .footer .avery-leftbox .avery-contain h2 {
        font-size: 15px;
    }

    .footer .avery-leftbox .avery-contain .icon-box h2 {
        font-size: 22px;
        margin-top: 0;
    }

    .footer .floor-plan {
        float: none;
        margin-top: 7px;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        padding: 11px 13px;
    }

    .footer .floor-plan .floor-plan-btn {
        width: 33.3%;
        margin: 0 0 0 0;
        float: left;
    }

    .super-footer {
        height: 37px;
    }

    .super-footer .col-6 {
        padding: 0 2px;
    }

    .super-footer p {
        font-size: 11px;
        margin: 10px 0;
    }

    .xfloor-tabs-box .nav-tabs {
        position: fixed;
        bottom: 37px;
        width: 100%;
    }

    .xfloor-section .xfloor-section-right {
        right: auto;
        bottom: 98px;
        left: auto;
        height: 350px;
        width: 100%;
        top: auto;
        z-index: 99;
    }

    .footer .floor-plan .floor-plan-btn a {
        width: 100%;
        position: relative;
        border-radius: 0;
        background-color: #9fcc3a;
        padding: 21px 10px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .footer .floor-plan .floor-plan-btn i {
        font-size: 10px;
        margin: 0;
        position: absolute;
        right: 16px;
        top: 21px;
        line-height: 18px;
        color: #fff;
        text-align: right;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .footer .floor-plan .floor-plan-btn a.finish_btn {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .btn-secondary2 {
        height: 36px;
        font-size: 12px;
        margin-top: -5px;
    }

    .dropdown-item {
        height: 36px;
        padding: 9px 18px;
    }

    a.dropdown-item {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        font-size: 12px;
        color: #646464;
    }

    .login .dropdown {
        top: 0px;
    }

    .xdesign-footer {
        left: 0px;
        position: fixed;
        width: 100%;
        bottom: unset;
        top: 39px;
        margin: 0;
        padding: 0 0;
        border-top: solid 1px #cacaca;
        background-color: #fff;
    }

    .footer .floor-plan .xdesign-btn {
        width: 50%;
    }

    .footer .floor-plan .xdesign-btn a.back_btn {
        border-right: 1px solid #fff;
    }

    .footer .floor-plan .xdesign-btn a.finish_btn {
        border: 0;
    }

    /* .community-header .community-header-close-button { top: 6px; right: 10px;} */
    .community-header-close-button {
        display: block;
        position: absolute;
        top: 7px;
        right: 9px;
        outline: none !important;
    }

    .left-mortgage-box {
        position: fixed;
        left: 0;
        top: 40%;
        z-index: 9;
    }

    .left-mortgage-box .left-fixed-box {
        width: 36px;
        height: 36px;
        text-align: center;
        margin-bottom: 5px;
        padding-top: 6px;
        border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        border: none;
        background-color: #fff;
        box-shadow: 0 2px 3px #000;
    }

    .left-mortgage-box .left-fixed-box a img {
        width: 24px;
        height: 24px;
    }
    .mobile-information .mobile-info-box {
        padding: 4px 0px 6px 0px;
    }
    
.mortgage-calculator .modal-dialog {
    max-width: 650px;
}
    

}

@media (min-width: 992px) {
    .left-mortgage-box {
        display: none;
    }
}





@media (max-width: 767px) {
    .logo {
        height: 47px;
        padding: 0px 0px;
        margin: 0;
    }

    .top-header {
        padding: 0px 0;
    }

    .sticky-top {
        margin-left: 0px;
    }

    .logo img {
        height: 47px;
        padding: 3px 0px;
        float: left;
    }

    .login {
        margin: 0;
        top: 11px;
    }

    .login-btn {
        width: 88px;
        height: 32px;
        padding: 7px;
        font-size: 12px;
        margin-top: -3px;
    }

    .btn-secondary2 {
        width: 128px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 9px 20px;
        font-size: 12px;
    }

    .footer-wrapper {
        width: 100%;
        display: flex;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: unset;
        top: 34px;
        margin: 0;
        padding: 0 0;
        border-top: solid 1px #cacaca;
        background-color: #fff;
    }

    .footer p {
        font-size: 11px;
    }

    .footer .avery-leftbox {
        display: none;
    }

    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 37%;
    }

    .footer .avery-leftbox .avery-leftbox-main {
        height: 52px;
        padding: 0 10px 0 0;
    }

    .footer .avery-leftbox .avery-leftbox-main .forbes-capretto-homes {
        display: none;
        margin: 0 10px 0 0;
    }

    .footer .avery-leftbox .avery-contain h2 {
        font-size: 12px;
    }

    .footer .floor-plan {
        float: none;
        display: block;
        position: relative;
        width: 100%;
        margin-top: 7px;
    }

    .footer .floor-plan .floor-plan-btn {
        width: 33.3%;
        margin: 0 0 0 0;
        float: left;
    }

    .xdesign-footer {
        left: 0px;
    }

    .reset_btns button {
        padding: 7px 20px;
        font-size: 11px;
    }

    .reset_btns {
        margin-top: 24px;
    }

    .super-footer {
        height: 37px;
    }

    .super-footer .col-6 {
        padding: 0 2px;
    }

    .super-footer p {
        font-size: 11px;
        margin: 11px 0;
    }

    .xfloor-tabs-box .nav-tabs {
        position: fixed;
        bottom: 37px;
        width: 100%;
    }

    .xfloor-section .xfloor-section-right {
        height: 250px;
    }

    .footer .floor-plan .floor-plan-btn a {
        width: 100%;
        height: 60px;
        position: relative;
        border-radius: 0;
        background-color: #9fcc3a;
        padding: 23px 6px;
        font-size: 11px;
        line-height: 14px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .footer .floor-plan .floor-plan-btn i {
        font-size: 10px;
        margin: 0;
        position: absolute;
        right: 16px;
        top: 21px;
        line-height: 18px;
        color: #fff;
        text-align: right;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .footer .floor-plan .floor-plan-btn a.finish_btn {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .login .dropdown {
        top: 0px;
    }

    .show>.dropdown-menu {
        left: 20px;
        min-width: 8.1rem;
    }

    .dropdown-item {
        height: 35px;
        padding: 9px 18px;
    }

    a.dropdown-item {
        font-size: 12px;
    }

    .xdesign-footer {
        left: 0px;
    }

    .footer .floor-plan .xdesign-btn {
        width: 50%;
    }

    .footer .floor-plan .xdesign-btn a.back_btn {
        border-right: 1px solid #fff;
    }

    .footer .floor-plan .xdesign-btn a.finish_btn {
        border: 0;
    }
    

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a {
        padding: 8px 10px;
        font-size: 11px;
    }

    .login-section .modal-content .close {
        text-align: right;
        margin-right: -11px;
        margin-top: -16px;
        cursor: pointer;
        outline: none;
    }

    .login-section .modal-content .close img {
        width: 24px;
    }



    .mobile-information button.close img {
        width: 24px;
        
    }

    .mortgage-calculator button.close img {
        width: 24px;
        
    }

    /* .community-header .community-header-close-button {top: 10px;right: 10px;} */
    .mortgage-calculator .modal-body {
        padding: 15px;
        overflow-y: auto;
        max-height: calc(100vh - 135px);
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain-text h2 {
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: #333;
        font-weight: 700;
    }

    .exp-close2 {
        margin: -32px -10px -10px auto !important;
        padding: 0!important;
        opacity: 1;
    }

    .exp-close3 {
        margin: -18px -10px -10px auto !important;
        padding: 0!important;
        opacity: 1;
    }
    .exp-close4 {
        margin: -32px -10px -10px auto !important;
        padding: 0!important;
        opacity: 1;
    }
    .exp-close5 {
        margin: -12px -10px -10px auto !important;
        padding: 0!important;
        opacity: 1;
    }
    .exp-close6 {
        margin: -27px -10px -10px auto !important;
        padding: 0!important;
        opacity: 1;
    }


    


    .circle {
        height: 65px;
        width: 100%;
        text-align: center;
        border-radius: 0%;
        border: #0079e1 solid 8px;
        margin: 22px auto 0;
        padding: 10px;
    }
    
    

    .lot-details-section .close {
        text-align: right;
        margin-right: -21px;
        margin-top: -34px;
        cursor: pointer;
        outline: none;
    }

    .lot-details-section .close {
        text-align: right;
        margin-right: -24px;
        margin-top: -35px;
        cursor: pointer;
        outline: none;
    }

    .circle-div .circle text {
        position: relative;
        top: 4px;
        text-anchor: middle;
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
        float: left;
    }

    .circle-div .estimate {
        position: relative;
        top: -16%;
        font-size: 28px;
        font-weight: bold;
        color: #297FD5;
        margin: 0;
        margin-top: 0px;
        text-align: right;
    }

    .mortgage-calculator button.close {
        text-align: right;
        margin-right: -21px;
        margin-top: -34px;
        cursor: pointer;
        outline: none;
    }

    .mobile-information button.close {
        text-align: right;
        margin-right: -22px;
        margin-top: -19px;
        cursor: pointer;
        outline: none;
    }
   
   
    .other-details .wellington_detail ul li a img {
        height: 28px;
    }

    .other-details .wellington_detail ul li a span {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 11px;
        color: #333;
    }
}


@media (max-width: 575px) {


    .modal-dialog {
        max-width: 659px;
        margin: 30px auto;
    }
    .super-footer {
        height: 37px;
    }

    .super-footer .col-6 {
        padding: 0 2px;
    }

    .super-footer p {
        font-size: 10px;
        margin: 10px 0;
    }

    .login {
        top: 11px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 7px 20px;
        font-size: 11px;
    }

    .footer .floor-plan .floor-plan-btn a {
        font-size: 12px;
    }

    .login-btn {
        width: 88px;
        height: 32px;
        padding: 7px;
        font-size: 11px;
        margin-top: -3px;
    }

    .footer .floor-plan {
        margin-top: 11px;
    }

    .login .dropdown {
        top: 0px;
    }

    .top-header .btn-secondary2 {
        margin-top: -5px;
    }

    .xdesign-footer {
        left: 0px;
    }

    .footer .floor-plan .xdesign-btn {
        width: 50%;
    }

    .footer .floor-plan .xdesign-btn a.back_btn {
        border-right: 1px solid #fff;
    }

    .footer .floor-plan .xdesign-btn a.finish_btn {
        border: 0;
    }

    .reset_btns button {
        padding: 7px 20px;
        font-size: 11px;
    }

    .reset_btns {
        margin-top: 24px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box {
        margin: 0 12px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a {
        padding: 8px 10px;
        font-size: 11px;
    }

    /*.mortgage-calculator .modal-dialog { width: 90%; margin: 30px auto;}*/
    /* .community-header .community-header-close-button {top: 6px; right: 10px;    } */
    .mortgage-calculator .modal-body {
        padding: 15px;
        overflow-y: auto;
        max-height: calc(100vh - 100px);
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain-text h2 {
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: #333;
        font-weight: 700;
    }

    .mobile-information .modal-header {margin: 0; padding: 0;}

    .mortgage-calculator .modal-dialog {
        width: 90%;
        margin: 30px auto;
    }

    .login-section .social-btn {
        margin-right: 0;
        margin-bottom: 26px;
        padding: 0;
        width: 100%;
        float: left;
    }
    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box p {
        font-size: 10px;
    }



}





@media (max-width: 400px) and (orientation: portrait) {
    .footer .col-6 {
        padding: 0 2px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 7px 20px;
        font-size: 11px;
    }

    .footer .floor-plan {
        margin-top: 11px;
    }

    .btn-secondary2 {
        width: 113px;
    }

    .show>.dropdown-menu {
        padding: 0;
        margin: 0.1rem 0 0;
    }

    .show>.dropdown-menu {
        min-width: 7.01rem;
    }

    .xdesign-footer {
        left: 0px;
    }

    .reset_btns button {
        padding: 7px 20px;
        font-size: 11px;
    }

    .reset_btns {
        margin-top: 24px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box {
        margin: 0 10px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a {
        padding: 8px 10px;
        font-size: 11px;
    }

    /*.mortgage-calculator .modal-dialog { width: 90%; margin: 30px auto;}*/
    /* .community-header .community-header-close-button { top: 6px; right: 10px;} */
}


@media (max-width: 375px) and (orientation: portrait) {
    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box {
        margin: 0 12px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .mortgage a {
        padding: 8px 10px;
        font-size: 11px;
    }


}

@media (max-width: 325px) and (orientation: portrait) {
    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box {
        margin: 0 7px;
    }

    .mobile-information .mobile-info-box .avery-leftbox .avery-contain .icon-box p {
        font-size: 10px;
    }

    .login-section .nav-tabs .nav-link {
        font-size: 10px;
    }

}

@media (min-width: 411px) and (orientation: portrait) {

    .btn-secondary2 {
        width: 113px;
    }

    .show>.dropdown-menu {
        padding: 0;
        margin: -0.18rem 0 0;
    }

    .show>.dropdown-menu {
        min-width: 8.0rem;
    }

    /* .xdesign-footer {
        left: 0px;
    } */


}

@media (device-height: 768px) and (device-width: 1024px) and (orientation: landscape) {
    .login {
        top: 14px;
    }

    .login-btn {
        height: 34px;
        font-size: 12px;
    }

    .logo img {
        height: 51px;
        padding: 5px 0;
    }

    .footer {
        height: 60px;
    }

    .footer .avery-leftbox .hname {
        width: 65%;
    }

    .footer .floor-plan {
        margin: 14px 0;
    }

    .footer .avery-leftbox .avery-leftbox-main.himg {
        padding: 0 10px 0 0;
        width: 46%;
        margin-top: 2px;
    }

    .footer .floor-plan .floor-plan-btn a {
        width: 100%;
        position: relative;
        border-radius: 0;
        background-color: #9fcc3a;
        padding: 8px 8px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .footer .floor-plan .floor-plan-btn i {
        font-size: 7px;
        color: #fff;
        margin: 0;
        position: absolute;
        right: 3px;
        top: 13px;
        line-height: 8px;
        color: #fff;
        text-align: left;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .back_btn i {
        left: 4px;
    }

    .footer {
        height: 60px;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        padding: 9px 12px;
        font-size: 12px;
    }

    .footer .avery-leftbox .avery-contain .icon-box h2 {
        font-size: 16px;
        margin-top: 0;
    }

    .footer .avery-leftbox .avery-contain .mortgage {
        margin-top: 15px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 8px 20px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        display: inline-block;
        transition: .5s ease-in-out;
    }
    

}

@media (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {

    .login-btn {
        width: 89px;
        height: 36px;
        padding: 10px;
        font-size: 12px;
        margin-top: -5px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 9px 20px;
        font-size: 12px;
    }

    .footer .avery-leftbox .avery-contain .icon-box h2 {
        font-size: 16px;
        margin-top: 0;
    }


}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1366px) and (min-device-width: 1024px) and (orientation: portrait) {
    .login {
        top: 14px;
    }

    .login-btn {
        width: 100px;
        height: 36px;
    }

    .footer .avery-leftbox .avery-contain .mortgage a {
        padding: 10px 12px;
    }

    .footer .floor-plan .floor-plan-btn a {
        padding: 9px 7px;
    }

    .footer .floor-plan {
        float: right;
        margin-top: 10px;
    }

    .footer .floor-plan .floor-plan-btn i {
        font-size: 9px;
        top: 14px;
        right: 1px;
    }

    .back_btn i {
        left: 1px;
    }

    .main-section a,
    .main-section button.home_list {
        position: relative;
        border-radius: 2px;
        padding: 8px 20px;
        font-size: 15px;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 1366px) and (orientation: landscape) {
    .footer {
        height: 58px;
    }
    
}